* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: bisque;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


.tittle {

    text-decoration: underline;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
    color: brown;
    border: 2px solid black;
    padding: 20px;
    border-radius: 20px;
    transition: all 1s;
}

.tittle:hover {
    transform: scale(1.5);
}

.tittle::after:hover {
    transform: translate(50px,50px);

}