* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}



.article section img {
    width: 300px;
    height: auto;
}

.article section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.header nav {
    position: fixed;
    top: 50%;
    right: 83%;
    transform: translateY(-50%);
    width: 200px;
}

.header nav a {
    border: 0px solid rgba(0, 0, 0, 0.582);
    border-radius: 50px;
    display: block;
    margin: 10px;
    height: 50px;
    width: 50px;
    transition: all 1s ease-out;
    text-align: left;
    line-height: 50px;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.582);
}

.header nav a i{
    line-height: 50px;
    font-size: 50px;
    transition: all 1s ease-out;
}


.header nav a:hover {
    width: 200px;
    background-color: white;
}

.header nav a:hover #icon{
    transform: rotate(360deg);
}

/*.header nav a:nth-child(1),*/
.article #pagina-uno {
    background-color: rgb(110, 121, 121);
}


/*.header nav a:nth-child(2),*/
.article #pagina-dos {
    background-color: azure;
}

/*.header nav a:nth-child(3),*/
.article #pagina-tres {
    background-color: rgb(221, 105, 27);
}

/*.header nav a:nth-child(4),*/
.article #pagina-cuatro {
    background-color: rgb(28, 13, 236);
}

/*.header nav a:nth-child(5),*/
.article #pagina-cinco {
    background-color: rgb(203, 223, 26);
}

