<div class="card-content d-flex flex-wrap">
  <h5 class="w-100 text-start">{{listContent.value}}</h5>

  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">{{listContent.name}}</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">

    </div>
  </ng-template>
  <div class="w-75"><span class="">text</span></div>
  <button type="button" class="btn btn-success" (click)="open(content)"><i class="bi bi-eye"></i> </button>

</div>