@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

.photo_profile {
    width: 512px;
}

.name {
    font-size: var(--fs-name);
    text-shadow: 2px 2px white;
    font-family: 'Varela', sans-serif;
    color: #3C4048;
    display: inline;
}

.second_line {
    /* position: absolute; */
    font-size: var(--fs-second-line);
    -webkit-text-stroke: 2px #EAEAEA;
    color: #10A19D;
    font-family: 'Share Tech Mono', monospace;
    font-weight: 900;
    text-shadow: 0 0 80px rgba(234, 234, 234, 1);
    line-height: 75px;
}

.legend {
    /* position: absolute; */
    /* font-size: var(--fs-second-line);*/
    /* -webkit-text-stroke: 2px #EAEAEA;  */
    color: white;
    font-family: 'Share Tech Mono', monospace;
    /* transform: scaleX(2) scaleY(1.8); */
    font-weight: 100;
    /* text-shadow: 0 0 80px rgba(234, 234, 234, 1); */
    /* line-height: 75px; */
    margin: 10px;
}

#legend {
    right: 0px;
    top: 20px;
    border: 2px solid #B2B2B2;
    border-radius: 50px;
}

.translate {
    position: absolute;
    right: 15px;
    top: -15px;
}

#select {
    background-color: #00ABB3;
}

#select option {
    background-color: #00ABB3;
}

.glitch {
    display: inline;
    color: white;
    font-size: 75px;
    position: relative;

    /* width: 800px; */
    /* margin: 0 auto; */
    font-family: 'Varela', sans-serif;
    text-shadow: 5px 5px #3C4048;
}

.glitch:after {
    content: attr(id);
    position: absolute;
    left: 2px;
    /* text-shadow: 1px 0 red; */
    /* top: 0; */
    color: white;
    /* background: #00ABB3; */
    overflow: hidden;

    clip-path: inset(0px 0px 0px 0px);
    animation: noise-anim-2 3s infinite linear alternate-reverse;
}

.glitch:before {
    content: attr(id);
    position: absolute;
    left: 1px;
    /* text-shadow: 1px 0 blue; */
    /* top: 0; */
    color: white;
    /* background: #00ABB3; */
    overflow: hidden;
    clip-path: inset(0px 0px 0px 0px);
    animation: noise-anim 3s infinite linear alternate-reverse;
}

.tittle {
    background-color: rgba(178, 178, 178, 1);
    box-shadow: 5px 5px 10px #3C4048;

}

.description {

    color: #3C4048;
    font-size: small;
    font-weight: 900;

}

.timeline {

    /* display: block; */
    /* float: left; */
    width: 95%;
    height: 20px;
    background-color: #B2B2B2;
    /* height: 100%; */
    border-radius: 75px;
    position: absolute;
    /* left: 50%; */
    top: 50%;
    z-index: 10;
    box-shadow: 5px 5px 10px #3C4048;
}

.experience_professional {

    left: -10%;
    top: 25%;
    transform: rotate(-90deg);
    text-shadow: 0px 0px 10px #3C4048;
    color: #EAEAEA;
    
}

.experience_personal {

    left: -9%;
    top: 75%;
    transform: rotate(-90deg);
    text-shadow: 0px 0px 10px #3C4048;
    color: #EAEAEA;

}

/* .timeline::before {
    content: '2017';
    background-color: #B2B2B2;
    display: block;
    width: 60px;
    height: 20px;
    position: relative;
    right: 0px;
    top: 30px;
    right: 20px;
    border-radius: 50px;
    font-size: small;
    /* box-shadow: 5px 5px 10px #3C4048; 
    /* margin-top: 50%;
    margin-bottom: 50%; 
    box-shadow: 5px 5px 10px #3C4048;
}*/
/*
.timeline::after {
    content: 'actual';
    background-color: #B2B2B2;
    display: block;
    width: 100px;
    height: 20px;
    position: relative;
    left:  95%; 
    border-radius: 50px;
    top: 10px;
    text-transform: uppercase;
    /* margin-top: 50%;
    margin-bottom: 50%; 
    font-size: small;
    box-shadow: 5px 5px 10px #3C4048;
} */

.timeline>span {}

.first {
    top: 5%;
    left: 6%;
}

.second {
    top: 20%;
    left: 42%;

}

.third {
    top: 35%;
    left: 70%;

}
.experience_0 {
    top: 58%;
    left: 6%;
}
.experience_1 {
    top: 80%;
    left: 13%;
}
.experience_2 {
    top: 58%;
    left: 37%;
}
.experience_3 {
    top: 80%;
    left: 44%;
}


.gradient-border::after {
    display: block;
    position: relative;
    content: "";
    top: calc(-1 * var(--border-width));
    left: calc(-1 * var(--border-width));
    z-index: -1;
    width: calc(100% + var(--border-width) * 2);
    height: calc(100% + var(--border-width) * 2);
    background: linear-gradient(60deg,
            hsl(224, 85%, 66%),
            hsl(269, 85%, 66%),
            hsl(314, 85%, 66%),
            hsl(359, 85%, 66%),
            hsl(44, 85%, 66%),
            hsl(89, 85%, 66%),
            hsl(134, 85%, 66%),
            hsl(179, 85%, 66%));
    background-size: 300% 300%;
    background-position: 0 50%;
    border-radius: calc(2 * var(--border-width));
    animation: moveGradient 4s alternate infinite;
    z-index: 0;
}

@keyframes moveGradient {
    50% {
        background-position: 100% 50%;
    }
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

@keyframes noise-anim {
    0% {
        clip-path: inset(51px 0px 28px 0px);
    }

    5% {
        clip-path: inset(70px 0px 19px 0px);
    }

    10% {
        clip-path: inset(92px 0px 13px 0px);
    }

    15% {
        clip-path: inset(85px 0px 49px 0px);
    }

    20% {
        left: -2px;
        clip-path: inset(45px 0px 56px 0px);
    }

    25% {
        clip-path: inset(26px 0px 31px 0px);
    }

    30% {
        clip-path: inset(62px 0px 97px 0px);
    }

    35% {
        clip-path: inset(34px 0px 11px 0px);
    }

    40% {
        left: -2px;
        clip-path: inset(26px 0px 61px 0px);
    }

    45% {
        clip-path: inset(34px 0px 71px 0px);
    }

    50% {
        clip-path: inset(35px 0px 69px 0px);
    }

    55% {
        clip-path: inset(92px 0px 81px 0px);
    }

    60% {
        left: -2px;
        clip-path: inset(26px 0px 81px 0px);
    }

    65% {
        clip-path: inset(2px 0px 68px 0px);
    }

    70% {
        clip-path: inset(54px 0px 79px 0px);
    }

    75% {
        clip-path: inset(35px 0px 85px 0px);
    }

    80% {
        left: -2px;
        clip-path: inset(70px 0px 60px 0px);
    }

    85% {
        clip-path: inset(32px 0px 29px 0px);
    }

    90% {
        clip-path: inset(94px 0px 53px 0px);
    }

    95% {
        clip-path: inset(99px 0px 92px 0px);
    }

    100% {
        left: -2px;
        clip-path: inset(42px 0px 27px 0px);
    }
}

@keyframes noise-anim-2 {
    0% {
        clip-path: inset(21px 0px 49px 0px);
    }

    5% {
        clip-path: inset(27px 0px 52px 0px);
    }

    10% {
        clip-path: inset(21px 0px 70px 0px);
    }

    15% {
        clip-path: inset(65px 0px 25px 0px);
    }

    20% {
        clip-path: inset(24px 0px 10px 0px);
    }

    25% {
        clip-path: inset(61px 0px 64px 0px);
    }

    30% {
        clip-path: inset(34px 0px 47px 0px);
    }

    35% {
        clip-path: inset(46px 0px 93px 0px);
    }

    40% {
        clip-path: inset(46px 0px 9px 0px);
    }

    45% {
        clip-path: inset(67px 0px 36px 0px);
    }

    50% {
        clip-path: inset(72px 0px 20px 0px);
    }

    55% {
        clip-path: inset(79px 0px 26px 0px);
    }

    60% {
        clip-path: inset(13px 0px 87px 0px);
    }

    65% {
        clip-path: inset(10px 0px 25px 0px);
    }

    70% {
        clip-path: inset(85px 0px 11px 0px);
    }

    75% {
        clip-path: inset(94px 0px 35px 0px);
    }

    80% {
        clip-path: inset(50px 0px 86px 0px);
    }

    85% {
        clip-path: inset(74px 0px 67px 0px);
    }

    90% {
        clip-path: inset(1px 0px 40px 0px);
    }

    95% {
        clip-path: inset(3px 0px 48px 0px);
    }

    100% {
        clip-path: inset(90px 0px 23px 0px);
    }
}



@media (min-width: 1400px) {
    .name {
        --fs-name: 75px;
    }

    .second_line {
        --fs-second-line: 80px;
    }

}

@media (max-width: 1400px) {
    .name {
        --fs-name: 75px;
    }

    .second_line {
        --fs-second-line: 80px;
    }

}

@media (max-width: 1200px) {
    .name {
        --fs-name: 50px;
    }

    .second_line {
        --fs-second-line: 90px;
    }


}

@media (max-width: 992px) {
    .name {
        --fs-name: 50px;
    }

    .second_line {
        --fs-second-line: 80px;
    }


}

@media (max-width: 768px) {
    .glitch:after {
        /* transform: translateX(-179%) translateY(100%); */
        content: "";
    }

    .glitch:before {
        /* transform: translateX(-175%) translateY(103%); */
        content: "";
    }

    .photo_profile {
        width: 70%;
    }

    .name {
        --fs-name: 50px;
    }

    .second_line {
        --fs-second-line: 80px;
    }

    .description {
        font-size: x-small;
    }

}



@media (max-width: 576px) {
    .glitch:after {
        /* transform: translateX(-179%) translateY(100%); */
        content: "";
    }

    .glitch:before {
        /* transform: translateX(-175%) translateY(103%); */
        content: "";
    }

    .name {
        --fs-name: 40px;
    }

    .second_line {
        --fs-second-line: 50px;
    }

    .photo_profile {
        width: 70%;
    }

}

@media (max-width: 411px) {
    .glitch {
        bottom: 18%;
        font-size: 40px;

    }

    .glitch:after {
        /* transform: translateX(-179%) translateY(100%); */
        content: "";
    }

    .glitch:before {
        /* transform: translateX(-175%) translateY(103%); */
        content: "";
    }

    .name {
        --fs-name: 40px;
    }

    .second_line {
        --fs-second-line: 40px;
    }

    .photo_profile {
        width: 70%;
    }

    .translate {
        top: -40px;
    }
}