<div class="row h-100 w-100" *ngIf="content.name==='home'">
    <app-content class="w-100 name align-self-start" [content]="findContent(content, 'name')"></app-content>
    <app-content class="w-100 photo_profile align-self-center"
        [content]="findContent(content, 'photo_profile')"></app-content>
    <app-content class="w-100 description align-self-end" [content]="findContent(content, 'description')"></app-content>

    <div class="second_background align-self-end"></div>
    <!-- <a href="#{{next}}" class="next"> <i class="bi bi-arrow-down"></i> </a> -->

</div>


<div class=" row h-100 w-100 align-content-start" *ngIf="content.name==='experience'">
    <app-content class="col-11 offset-1 h-75" [content]="findContent(content, 'experience')"></app-content>
    <app-content class="col-11 offset-1 " [content]="findContent(content, 'tittle')" [next]="next"></app-content>

    <!-- <a href="#{{next}}" class="next"> <i class="bi bi-arrow-down"></i> </a> -->
</div>

<div class="h-100 w-100 position-relative d-flex align-items-center" *ngIf="content.name==='technologies'">
    <div class="w-100 h-100 technologies d-flex justify-content-center align-items-center position-absolute">
        <span class="skills_tittle position-absolute text-wrap"> {{'skills.tittle'|translate}} </span>
    </div>

    <div class="rox w-50 h-75 align-content-start offset-1 d-flex align-content-center flex-wrap container-technologies ps-5 ">
        <app-technologies class="m-3 w-100" *ngFor="let listContent of content.list_content"
            [listContent]="listContent"></app-technologies>
    </div>
</div>