.head {

background-color: #EAEAEA;
border-radius: 10px 10px 0 0;
height: 40px;
overflow-wrap: break-word;
}

.head > span{

   
    }

.bubble {
    width: 250px;
    height: 110px;
    border-radius: 10px;
    position: relative;
    background-color: #3C4048;
    font-size: small;
    box-shadow: 0px 5px 10px #B2B2B2;
}

.bubble2 {
    width: 600px;
    height: 200px;
    border-radius: 10px;
    position: relative;
    background-color: #3C4048;
    font-size: small;
    box-shadow: 0px 5px 10px #B2B2B2;
}

.content{
    color: #3C4048;
}

.tab{
    width: 30px;
    height: 30px;
    background-color: black;
    bottom: -30px;
    left: 20px;
    z-index: 10;
    clip-path: border-box polygon(0px 0px, 30px 0px, 15px 30px);
    box-shadow: 0px 5px 10px #B2B2B2;
    /* border: 1px solid black; */
    box-sizing: border-box;
    
}