<!-- <span *ngFor="let value of tittle.values">{{value.value}}<br></span> -->

<div appChangeStyle [backgroundColor]="color" class="bubble position-relative"
    *ngIf="tittle.name!='experience.personal_projects'">
    <div class="head d-flex justify-content-center align-items-center">
        <span> {{findValue(tittle, 'job_name').value }}
        </span>
    </div>
    <div class="content d-flex flex-column align-items-center"> <span class="mt-2">{{
            findValue(tittle,
            'role_description').value| translate}} </span> <br> <span> {{
            findValue(tittle, 'years').value| translate}} </span> </div>
    <div appChangeStyle [backgroundColor]="color" class="tab position-absolute"></div>
</div>

<div appChangeStyle [backgroundColor]="color" class="bubble2 position-relative"
    *ngIf="tittle.name=='experience.personal_projects'">
    <div class="head d-flex justify-content-center align-items-center"> <span>
            {{tittle.name | translate }}
        </span> </div>
</div>